<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/app.css">
    <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Pomodoro Timer</title>
</head>

<!--------------BODY---------------->
<body>

    <nav class="nav-bar">
        <div class="logo">pomodoro</div>
    </nav>

    <main class="pt-sq2-texts">

        <h1>
            Hi there! I built a simple <span>pomodoro timer</span> desktop app to help with productivity.
        </h1>
        <p>
            Using the pomodoro technique involves focusing on a particular task for 25 minutes,
            then taking a 5 mins break. To learn more about the pomodoro
             technique, read <a href="devlulu.xyz">here</a> 
        </p>
       
    </main>
    
    <div class="buttons">
        <a href={{ url_for('return_files') }} class="mac"><button><i class="fa fa-apple"></i>Download for MacOS</button></a>
       
    </div>

    <div class="small-text">
        <p>
            Check out the github  <a href="https://github.com/LuluNwenyi/Pomodoro-Timer">here</a>
        </p>
    </div>
</body>
</html>
